p {
  padding: 0 15px;
}

.container {
  border-top: solid 0.06em;
  border-bottom: solid 0.06em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  text-align: center;
  flex: 1;
}

.active {
  background: yellow;
}

.inactive {
  background: grey;
}

.title {
  text-align: center;
  border-bottom: solid 0.03125em;
  height: 4em;
  width: 100%;
}

.playerNameContainer {
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-left: solid 0.06em;
}

.frame0, .frame1, .frame2, .frame3, .frame4, .frame5, .frame6, .frame7, .frame8, .frame9 {
  border-left: solid 0.03125em;
}

.totalScoreContainer {
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-left: solid 0.03125em;
  border-right: solid 0.06em;
}

.scoreContainer {
  display: flex;
  height: 2.5em;
  justify-content: space-evenly;
  align-content: stretch;
}

.childrenContainer {
  min-height: 8em;
}

.turn0 {
  width: 2.5em;
}

.turn1, .turn2 {
  width: 2.5em;
  border-left: solid 0.0123em;
  border-bottom: solid 0.0123em;
}