.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.scoreboard {
  display: flex;
  align-items: stretch;
  justify-content: center;
  background: turquoise;
}

.btn {
  width: 10%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}