.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60vw;
}

.scoreboard {
  background-color: rgb(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  display: flex;
  border-radius: 15px;
  width: 60vw;
}

.btn {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 15%;
  background-color: rgb(255, 173, 0, .9);
  color: black;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: rgb(179, 12, 58, .5);
  color: white;
}